@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body, h1, h2, p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Header Styles */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #333;
  color: #fff;
  padding: 15px;
  text-align: center;
  z-index: 1000; /* Ensures the header stays on top */
}

/* Main Content Styles */
.container {
  padding: 20px;
}

.sections {
  margin: 20px 0;
  padding: 20px;
  border-radius: 5px;
  height: 5000;
}

/* Section Styles */
.section-1 {
  background: #f4f4f4;
}

.section-2 {
  background: #e2e2e2;
}

.section-3 {
  background: #c0c0c0;
}

/* Footer Styles */
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 15px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent; /* Adjust size as needed */
  border-right: 10px solid transparent; /* Adjust size as needed */
  border-top: 10px solid black; /* Adjust color and size as needed */
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent; /* Adjust size as needed */
  border-right: 10px solid transparent; /* Adjust size as needed */
  border-bottom: 10px solid black; /* Adjust color and size as needed */
}

.pokedex {
  margin-left: 24rem;
  margin-right: 24rem;
  padding-top: 2.5rem;
}

.pokedex-header {
  --tw-bg-opacity: 1;
    background-color: rgb(221 214 254 / var(--tw-bg-opacity)) 
}

.dark {
  background-color: black;
  color: white;
}

.grass {
  background-color: green;
  color: white;
}

.normal {
  background-color: rgb(196, 193, 193);
  color: black;
}

.fire {
  background-color: red;
  color: white;
}

.water {
  background-color: blue;
  color: black;
}

.electric {
  background-color: yellow;
  color: black;
}

.ice {
  background-color: lightblue;
  color: white;
}

.fighting {
  background-color: maroon;
  color: white;
}

.poison {
  background-color: rgb(231, 62, 231);
  color: white;
}

.ground {
  background-color: brown;
  color: white;
}

.flying {
  background-color: rgb(36, 158, 214);
  color: black;
}

.psychic {
  background-color: rgb(238, 41, 74);
  color: white;
}

.bug {
  background-color: yellowgreen;
  color: black;
}

.rock {
  background-color: rgba(187, 113, 113, 0.63);
  color: white;
}

.ghost {
  background-color: rgb(134, 33, 192);
  color: white;
}

.dragon {
  background-color: rgb(199, 28, 185);
  color: white;
}

.steel {
  background-color: gray;
  color: white;
}

.fairy {
  background-color: pink;
  color: black;
}